:root {
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --title-light-theme-color: #212121;
    --title-dark-theme-color:#FFFFFF;
    --main-text-color:#757575;
    --aksent-color:#2196F3;
}
body {
    font-family: var(--main-font);
    font-size: 14px;
    background-color: #FFFFFF;
    color: var(--main-text-color);
}
.logo {
font-family: var(--secondary-font)
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#000000;
}
.web {
    color: var(--aksent-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style:none;
}
.navigation-link,.header-mailto,.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color: var(--title-light-theme-color)
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--aksent-color);
}
.header-mailto,.header-tel {
    color: var(--main-text-color);
    }
.header-mailto:hover, 
.header-mailto:focus {
color: var(--aksent-color);
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height:1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-dark-theme-color);
}
.modal-button {
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--aksent-color);
color: var(--title-dark-theme-color);
}
.subtitle, .subtitle-box {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-light-theme-color)
}
.description {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--main-text-color);
}
.section-subtitle {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-light-theme-color)
}
.subtitle-box {
text-align: center;
color: var(--title-dark-theme-color);
}
.subtitle-name, .subtitle-position {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-light-theme-color)
}
.subtitle-position {
font-weight: normal;
color: var(--main-text-color);
}
.address {

}